img{
  width: 50px;
}

.center{
  margin: auto;
}

.online{
  background: darkseagreen;
}

.offline{
  background: lightpink;
}

.marginated{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
